jobs:
  include:
    - language: node_js
      node_js: 14
      python: "3.7.9"
      addons:
        sonarcloud:
          organization: "swsnu"
          token:
            secure: "ST0FeixYfEw3fwXykk81K+JNa1Aqy7PpgDsSIF1OQd57+etizUj8FsExLPnziXAV/Et0xCxM0+WW9wUlqGBnB0xj/G7ji0Lmmnsc8BvGBGibLaSxLoH5Ula0e0mD2muGi08kPFbNLiAdXLZzxS52qRl4YeoOfyYx3XcFO6OjMeX0Iy8fM4FzQZhqAvNazeaH8iaRAvp4eT15+sMG8tB/ayyIUpBgDSBcNBSYmPMfuzq3vzdZGNNjxndgx3Pa7Yi6ZYYu+tHcGy3/YN/y0bcn0i/t/R36sEFG2qZhvKCXx7a6ATeTzSvLeAT7gKFsHOpAo51xc+kV9pKQbyWPwuYaXSER6WYrZoI1aDXY2APmiogbMTyjijq6eXqsBPgMzQLbz2Op3vgoG6acSnERUby2vDpdwsLF6Ozxg04nICTaztlM4rDvq1U+YpPvsiSp98zrY0Z/ONFa8eqM4I/nI5H0vwtaENU8qnWyRtY6Ouz7iIQZFgtHgSxLpIARfrUdrD8KXHTN6+1iOQirYH5akD9WsttGsZrxRUflrA6p/6hfnvUDSku9b/gefPrsPYsB+QQ0vUmkar8GGGKmdAxurLWNvOODQlwgeFOTSCe/+mz8JQKio0T4R6oLJLsjVor7aa0qRoVL6MvZRmwkXmEiDHG7/AJfoTEqRrTFbA0f2z1EEmU="
      dist: bionic
      cache:
        - yarn: true
        - pip: true
      install:
        - source ~/virtualenv/python3.7/bin/activate
        - cd frontend
        - yarn install
        - cd ..
        - cd backend
        - pip install -r requirements.txt
        - cd ..
        - pip install coveralls
        - yarn global add coveralls
        - gem install converalls-lcov
      script:
        - cd frontend
        - ./node_modules/.bin/eslint src
        - yarn test --coverage --watchAll=false
        - coveralls-lcov -v -n coverage/lcov.info > coverage.json
        - cd .. && sonar-scanner
        - cd backend
        - pylint **/*.py --load-plugins pylint_django
        - coverage run --source='.' manage.py test
        - coverage xml
        - coveralls --merge=../frontend/coverage.json
